// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
.body {
  background-color: #eef1f5;
}

.container.header {
  background-color: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background-color: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background-color: transparent;
}

table.button.facebook table td {
  background-color: #3b5998;
  border-color: #3b5998;
}

table.button.twitter table td {
  background-color: #1daced;
  border-color: #1daced;
}

table.button.google table td {
  background-color: #db4a39;
  border-color: #db4a39;
}

.wrapper.secondary {
  background-color: #f3f3f3;
}

.date {
  font-size: 9px;
  color: #97a4b3;
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 12px !important;
  }
}

.float-right {
  margin-left: auto;
}

.title {
  color: #231f20;
  margin-bottom: 0 !important;
  border-color: #ff0000 !important;
}

.title-mob {
  color: #231f20;
  font-size: 18px;
  margin-bottom: 0;
}

.table-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.info-table {
  width: 100%;
  font-size: 10px;
  table-layout: fixed;
}

.info-table th {
  font-weight: bold;
  padding: 10px 20px 10px 0;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 0;
  background-color: #e2e8f0;
  color: #4b4e52;
}

.info-table th:first-of-type {
  padding-left: 20px;
}

.info-table td {
  padding: 10px 20px 10px 0;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 0;
  color: #231f20;
}

.info-table td:first-of-type {
  padding-left: 20px;
}

.p-border {
  display: block !important;
  border-bottom: 1px solid #c8d2e1 !important;
  padding-bottom: 6px !important;
  margin-bottom: 4px !important;
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 12px !important;
  }
}

.p-border:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}


.table-with-underlines td {
  padding: 0;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.table-with-underlines .underlines-content {
  padding:0;
}

.table-with-underlines .underline {
  padding-bottom: 0 !important;
  border-bottom: 1px solid #c8d2e1;
}

.table-with-underlines .underline-spacer,
.table-with-underlines .underline-spacer td {
  padding-bottom: 0 !important;
}

.grey-tr {
  background-color: #f4f6f9;
}

.tip-text {
  color: #97a4b3;
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 11px !important;
  }
}

.track-link {
  color: #ea008a;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 700;
}

.track-img {
  margin-right: 10px !important;
}

.track-table {
  width: auto !important;
}

.track-table td {
  vertical-align: middle;
}

.legal-text {
  font-size: 8px;
  color: #97a4b3;
}

.site-link {
  font-size: 8px;
  color: #97a4b3;
  font-weight: bold;
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 12px !important;
  }
}

.copyright-text {
  font-size: 8px;
  color: #97a4b3;
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 12px !important;
  }
}

.social-link {
  font-size: 8px;
  color: #97a4b3;
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 12px !important;
  }
}

.social {
  vertical-align: bottom;
}

.social-divider {
  margin: 0 10px;
  font-size: 8px;
  color: #97a4b3;
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 12px !important;
  }
}

.info-table-mob + .info-table-mob {
  margin-top: 20px;
}

.info-table-mob th {
  font-weight: bold;
  padding: 10px 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  background-color: #97a4b3;
  color: #fff;
  font-size: 12px;
}

.info-table-mob td {
  font-size: 12px;
  padding: 10px 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.info-table-mob tr:nth-child(odd) {
  background-color: #f4f6f9;
}

.info-table-mob tr:nth-child(odd) td {
  color: #231f20;
}

.info-table-mob tr:nth-child(even) {
  background-color: #e2e8f0;
}

.info-table-mob tr:nth-child(even) td {
  font-weight: bold;
  color: #4b4e52;
}

.route-table th {
  padding: 0;
  background-color: none;
}

.banner-mob {
  padding-bottom: 15px !important;
}

.banner-mob:nth-child(odd) {
  padding-left: 20px !important;
  padding-right: 8px !important;
}

.banner-mob:nth-child(even) {
  padding-right: 20px !important;
  padding-left: 8px !important;
}

.social th {
  padding-left: 22px;
  padding-right: 22px;
  @media only screen and (max-width: #{$global-breakpoint}) {
    display: inline-block !important;
  }
}
