---
layout: index-layout
subject: My Email Templates
---

<spacer size="20"></spacer>

<container>
  <!--[if !mso]><!-->
  <div class="hide-for-large">
    <spacer size="20"></spacer>
    <row>
      <columns class="banner-mob" small="6" large="4">
        <center><img src="https://i.imgur.com/ypdy1sU.png" alt="" /></center>
      </columns>
      <columns class="banner-mob" small="6" large="4">
        <center><img src="https://i.imgur.com/hOwQF3G.png" alt="" /></center>
      </columns>
      <columns class="banner-mob" small="6" large="4">
        <center><img src="https://i.imgur.com/Qa2HMpZ.png" alt="" /></center>
      </columns>
      <columns class="banner-mob" small="6" large="4">
        <center><img src="https://i.imgur.com/4QKpEuz.png" alt="" /></center>
      </columns>
    </row>
  </div>
  <!--<![endif]-->
  <wrapper class="show-for-large">
    <spacer size="30"></spacer>
    <row>
      <columns small="6" large="4"
        ><img src="https://i.imgur.com/0asm1H8.png" alt=""
      /></columns>
      <columns small="6" large="4"
        ><img src="https://i.imgur.com/OuLx01i.png" alt=""
      /></columns>
      <columns small="6" large="4"
        ><img src="https://i.imgur.com/Aqde5b4.png" alt=""
      /></columns>
    </row>
  </wrapper>
  <spacer size-sm="5" size-lg="30"></spacer>
  <!--[if !mso]><!-->
  <div class="hide-for-large">
    <row>
      <columns small="12">
        <row>
          <columns><p class="date">2 марта 2020</p></columns>
        </row>
        <row>
          <columns
            ><h1 class="title-mob">
              APS-report on placed orders for LS Cargo Logistics OY
            </h1>
          </columns>
        </row>
      </columns>
    </row>
  </div>
  <!--<![endif]-->
  <row class="show-for-large">
    <columns large="8">
      <row>
        <columns><p class="date">2 марта 2020</p></columns>
      </row>
      <row>
        <columns
          ><h1 class="title">
            APS-report on placed orders for LS Cargo Logistics OY
          </h1>
          <!--[if gte mso 12]><br /> <![endif]-->
        </columns>
      </row>
    </columns>
    <columns large="4"
      ><img
        align="right"
        class="float-right"
        src="https://i.imgur.com/9h1DDku.png"
        alt=""
      />
    </columns>
  </row>
  <spacer size-sm="18" size-lg="28"></spacer>
  <!--[if !mso]><!-->
  <div class="hide-for-large">
    <row>
      <columns>
        <table class="info-table-mob">
          <thead>
            <tr>
              <th>Truck license plates</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>P 947 MX750 / EK 8031 50</td>
            </tr>
            <tr>
              <td>Loading date</td>
            </tr>
            <tr>
              <td>
                <p class="p-border">17.04.2020</p>
                <p class="p-border">2.12.2021</p>
                <p class="p-border">18.03.2021</p>
              </td>
            </tr>
            <tr>
              <td>Route</td>
            </tr>
            <tr>
              <td>
                <p class="p-border">RUS</p>
                <p class="p-border">Stary</p>
                <p class="p-border">Oskol</p>
              </td>
            </tr>
            <tr>
              <td>Current location</td>
            </tr>
            <tr>
              <td>200 km to the uploading place, Mulhouse, F</td>
            </tr>
            <tr>
              <td>Estimated time of arrival*</td>
            </tr>
            <tr>
              <td>23.04.20</td>
            </tr>
          </tbody>
        </table>
        <table class="info-table-mob">
          <thead>
            <tr>
              <th>Truck license plates</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>P 947 MX750 / EK 8031 50</td>
            </tr>
            <tr>
              <td>Loading date</td>
            </tr>
            <tr>
              <td>
                <p class="p-border">17.04.2020</p>
                <p class="p-border">2.12.2021</p>
                <p class="p-border">18.03.2021</p>
              </td>
            </tr>
            <tr>
              <td>Route</td>
            </tr>
            <tr>
              <td>
                <p class="p-border">RUS</p>
                <p class="p-border">Stary</p>
                <p class="p-border">Oskol</p>
              </td>
            </tr>
            <tr>
              <td>Current location</td>
            </tr>
            <tr>
              <td>200 km to the uploading place, Mulhouse, F</td>
            </tr>
            <tr>
              <td>Estimated time of arrival*</td>
            </tr>
            <tr>
              <td>23.04.20</td>
            </tr>
          </tbody>
        </table>
        <table class="info-table-mob">
          <thead>
            <tr>
              <th>Truck license plates</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>P 947 MX750 / EK 8031 50</td>
            </tr>
            <tr>
              <td>Loading date</td>
            </tr>
            <tr>
              <td>
                <p class="p-border">17.04.2020</p>
                <p class="p-border">2.12.2021</p>
                <p class="p-border">18.03.2021</p>
              </td>
            </tr>
            <tr>
              <td>Route</td>
            </tr>
            <tr>
              <td>
                <p class="p-border">RUS</p>
                <p class="p-border">Stary</p>
                <p class="p-border">Oskol</p>
              </td>
            </tr>
            <tr>
              <td>Current location</td>
            </tr>
            <tr>
              <td>200 km to the uploading place, Mulhouse, F</td>
            </tr>
            <tr>
              <td>Estimated time of arrival*</td>
            </tr>
            <tr>
              <td>23.04.20</td>
            </tr>
          </tbody>
        </table>
      </columns>
    </row>
  </div>
  <!--<![endif]-->
  <div class="show-for-large">
    <row>
      <columns class="table-column">
        <table class="info-table">
          <thead>
            <tr>
              <th>Truck license<br />plates</th>
              <th>Loading<br />date</th>
              <th>Route<br /></th>
              <th>Current<br />location</th>
              <th>Estimated<br />time of arrival*</th>
              <th>Note</th>
              <th>Uploading<br />date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>P 947 MX750 /<br />EK 8031 50</td>
              <td>
                <table class="table-with-underlines">
                  <tr>
                    <td class="underlines-content">17.04.2020</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">2.12.2021</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">18.03.2021</td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="table-with-underlines">
                  <tr>
                    <td class="underlines-content">RUS</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">Stary</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">Oskol</td>
                  </tr>
                </table>
              </td>
              <td>200 km to the<br />uploading place,<br />Mulhouse, F</td>
              <td>23.04.20</td>
              <td>—</td>
              <td>—</td>
            </tr>
            <tr class="grey-tr">
              <td>P 947 MX750 /<br />EK 8031 50</td>
              <td>
                <table class="table-with-underlines">
                  <tr>
                    <td class="underlines-content">17.04.2020</td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="table-with-underlines">
                  <tr>
                    <td class="underlines-content">RUS</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">Stary</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">Oskol</td>
                  </tr>
                </table>
              </td>
              <td>200 km to the<br />uploading place,<br />Mulhouse, F</td>
              <td>23.04.20</td>
              <td>—</td>
              <td>—</td>
            </tr>
            <tr>
              <td>P 947 MX750 /<br />EK 8031 50</td>
              <td>
                <table class="table-with-underlines">
                  <tr>
                    <td class="underlines-content">17.04.2020</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">2.12.2021</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">18.03.2021</td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="table-with-underlines">
                  <tr>
                    <td class="underlines-content">RUS</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">Stary</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">Oskol</td>
                  </tr>
                </table>
              </td>
              <td>200 km to the<br />uploading place,<br />Mulhouse, F</td>
              <td>23.04.20</td>
              <td>—</td>
              <td>—</td>
            </tr>
            <tr class="grey-tr">
              <td>P 947 MX750 /<br />EK 8031 50</td>
              <td>
                <table class="table-with-underlines">
                  <tr>
                    <td class="underlines-content">17.04.2020</td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="table-with-underlines">
                  <tr>
                    <td class="underlines-content">RUS</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">Stary</td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="6"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underline"></td>
                  </tr>
                  <tr>
                    <td class="underline-spacer"><spacer size="4"></spacer></td>
                  </tr>
                  <tr>
                    <td class="underlines-content">Oskol</td>
                  </tr>
                </table>
              </td>
              <td>200 km to the<br />uploading place,<br />Mulhouse, F</td>
              <td>23.04.20</td>
              <td>—</td>
              <td>—</td>
            </tr>
          </tbody>
        </table>
      </columns>
    </row>
  </div>
  <spacer size-lg="22" size-sm="40"></spacer>
  <row>
    <columns>
      <p class="tip-text">
        *The date of arrival at the next destination point is determined
        approximately with regard to traffic conditions, ques at borders, etc
      </p>
      <!--[if gte mso 12]><br /> <![endif]-->
    </columns>
  </row>
  <spacer size="16"></spacer>
  <row>
    <columns>
      <table class="track-table">
        <thead>
          <tr>
            <td>
              <img
                class="track-img"
                src="https://i.imgur.com/scDLPK0.png"
                alt=""
              />
            </td>
            <td>
              <a href="google.com" class="track-link">Online cargo tracking</a>
            </td>
          </tr>
        </thead>
      </table>
    </columns>
  </row>
  <spacer size="25"></spacer>
  <row>
    <columns>
      <img src="https://i.imgur.com/Qe2ihfZ.png" alt="" />
    </columns>
  </row>
  <spacer size="25"></spacer>
  <div class="show-for-large">
    <row>
      <columns>
        <p class="legal-text">
          Настоящее электронное письмо и приложения к нему содержат
          конфиденциальную информацию. Указанная информация не может быть
          использована, скопирована или разглашена Вами, если согласие на
          выполнение таких действий ранее не было предоставлено Вам обладателем
          такой информации. Если Вы получили настоящее электронное письмо по
          ошибке либо Вам не был ранее предоставлен доступ к информации,
          содержащейся в настоящем электронном письме и приложениях к нему,
          пожалуйста, немедленно поставьте в известность отправителя и удалите
          данное электронное письмо и приложения к нему. This e-mail and its
          attachments contain confidential information. The specified
          information cannot be used, copied or disclosed by you if the consent
          to the performance of such actions was not previously granted to you
          by the owner of the information. If you received this e-mail in error
          or you were not previously given access to the information contained
          in this e-mail and its attachments, please immediately notify the
          sender and remove this e-mail and attachments to it.
        </p>
      </columns>
    </row>
    <spacer size="15"></spacer>
  </div>
  <row>
    <columns large="8" small="12">
      <row>
        <columns>
          <a href="#" class="site-link">aps-solver.ru</a>
        </columns>
      </row>
      <spacer size-sm="23" size-lg="7"></spacer>
      <row>
        <columns>
          <p class="copyright-text">© APS — Международный грузоперевозчик</p>
          <!--[if !mso]><!-->
          <div class="hide-for-large"><spacer size="13"></spacer></div>
          <!--<![endif]-->
        </columns>
      </row>
    </columns>
    <!--[if !mso]><!-->
    <columns class="social hide-for-large" small="6">
      <p class="text-left">
        <a class="social-link" href="#">Facebook</a>
        <span class="social-divider">|</span>
        <a class="social-link" href="#">Instagram</a>
        <span class="social-divider">|</span>
        <a class="social-link" href="#">Youtube</a>
      </p>
    </columns>
    <!--<![endif]-->
    <columns class="social show-for-large" large="4">
      <p class="text-right">
        <a class="social-link" href="#">Facebook</a>
        <span class="social-divider">|</span>
        <a class="social-link" href="#">Instagram</a>
        <span class="social-divider">|</span>
        <a class="social-link" href="#">Youtube</a>
      </p>
    </columns>
  </row>
  <spacer size-sm="20" size-lg="60"></spacer>
</container>
<spacer size-sm="20" size-lg="65"></spacer>
